{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>{% block title %}{% endblock %}</title>
	<link href="{% static "css/blog.css" %}" rel="stylesheet">
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
	integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M"
	rel="stylesheet" crossorigin="anonymous">
</head>

<body>
	<header>
	<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
	<div class="navbar-brand">DjangoBlog</div>
	<a class="nav-link" href="{% url 'blog:post_list' %}">
		Posts
	 </a>
	 <div>
	 <span class="user">
		 {% if request.user.is_authenticated %}
		 Hello {{ user }},
		 <a href="{% url "logout" %}">Logout</a>
		 {% else %}
		 <a href="{% url "login" %}">Log-in</a>
		 {% endif %}
	 </span>
	 </div>
	</nav>
	</header>
	<br />
	<br />
	<br />
	<br />

	<div class="container">
	<div id="content">
		{% block content %}
		{% endblock %}
	</div>
				      
	<div id="sidebar">
		<h2>My blog</h2>
		<p>This is my blog.</p>
	</div>
	</div>
</body>
</html>
